{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card card-body">

            <h1>Are you sure you want to delete {{order.product.name}}</h1>

            
            
            <form action="{% url 'delete_order' order.id %}" method="POST">
                {% csrf_token %}
                
                <a class="btn btn-warning" href="{% url 'home' %}">Cancel</a></div>

                <input class="btn btn-danger" name="Confirm" type="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}