:root{
     --primary: #21295C;
     --secondary: #1B3B6F;
     --alternate: #065A82;
     --faded: #9EB3C2;
   }
.footer{
     margin: 0;
     background-color: var(--primary);
     /* border-radius: 10px 10px 0 0; */
     color: var(--faded);
     position: relative;
     bottom: 0;
     width: 100%;
     font: small;
     height: fit-content;
     overflow-x: hidden;
 }
 .left{
     display: inline;
      text-align: left;
      left: 0;
 }
 .right{
      display: inline-block;
      text-align: right;
      right: 0;
      margin-right: 0;
 }
 Col span{
      margin: auto 1em;
 }