/* Css for home page */

/* To import the colors of the brand */
@import "../utility/colors.css";

.homeHead{
     font-size: xx-large;
     font-weight: bold;
     color: var(--primary)
}

.Home{
     text-align: center;
     margin-top: 1em;

}
.homeText{
     margin: 2em auto;
     
}
.homePic{
     height: 100%;
     width: 100%;
}
.homePage{
     height: 100%;
     color: var(--primary);
}
